# Ignore the virtual environment directory
venv/

# Ignore the environment variables file
.env

# Ignore database config files or other sensitive information
config.ini

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
